<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
<h1>Dojo Secrets</h1>
        <form action="/secrets" method="post">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <textarea name="content" placeholder="Type secret here..."></textarea>
            <input type="submit" name="submit" value="Submit Secret">
        </form>
        <% @secrets.each do |secret| %>
                <ul>
                <li><%=secret.content%>    <%=secret.likes.count%> Likes </li>


                    <% unless secret.users.include?(current_user) %>
                    		<form action = "/likes" method = "post">
                                <input type="hidden" name = "_method" value="get">
                                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

                                <input type="hidden" name="like[secret_id]" value = "<%= secret.id %>">
                    			<input type="submit" name="Like" value = "Like">
                    		</form>
                    	<% else %>
                    		<form action = "/likes/<%= Like.where(user: current_user, secret: secret).first.id%>" method = "post">
                    		    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    			<input type="hidden" name="_method" value="delete">
                    			<input type="submit" name="Unlike" value = "Unlike">
                    		</form>
                    	<% end %>
                    <% if current_user == secret.user %>
                    <a href = "/secrets/<%=secret.id%>" data-method = 'delete'>Delete Secret</a>
                    <a href = "/users/<%=secret.user.id%>" data-method 'get'>View All Secrets</a>
                    <% end %>


            </ul>
    <% end %>

    <form action="/sessions/<%=session[:user_id]%>" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="delete">
      <button type="submit" name = "Log Out" value="Log Out">Log Out</button>
    </form>
    </body>
</html>
